<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ListStudServ</servlet-name>
        <servlet-class>com.myapp.struts.ListStudServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPrServ</servlet-name>
        <servlet-class>com.myapp.struts.ShowPrServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAttendance</servlet-name>
        <servlet-class>com.myapp.struts.SaveAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAttendance</servlet-name>
        <servlet-class>com.myapp.struts.ShowAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendance</servlet-name>
        <servlet-class>com.myapp.struts.CheckAttendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudServ</servlet-name>
        <url-pattern>/ListStudServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPrServ</servlet-name>
        <url-pattern>/ShowPrServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAttendance</servlet-name>
        <url-pattern>/SaveAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAttendance</servlet-name>
        <url-pattern>/ShowAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendance</servlet-name>
        <url-pattern>/CheckAttendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
